---
import Layout from '../layouts/Layout.astro';
import type { ImageMetadata } from 'astro';
import ImageSelectionSection from '../components/ImageSelectionSection.svelte';
import OrderFooter from '../components/OrderFooter.svelte';
import { abilityUsedList } from '../assetLists/abilityUsedList';
import { supporterUsedList } from '../assetLists/supporterUsedList';
import { vStarList } from '../assetLists/vStarList';
import { otherList } from '../assetLists/otherList';


const supporterImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/pokemon-tcg/Supporter/*.png', { eager: true });
const abilityImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/pokemon-tcg/Ability/*.png', { eager: true });
const vStarImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/pokemon-tcg/V Star/*.png', { eager: true });
const otherImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/pokemon-tcg/Other/*.png', { eager: true });
---

<script>
    let wishlistArray: { imageLink: string }[] = [];

    const addToWishlist = (element: Element) => {
        const imageSrc = element.getAttribute('src');
        const imageLink = `${window.location.origin}${imageSrc}`;
        
        const elementIndex = wishlistArray.findIndex((item) => item.imageLink === imageLink);
        
        if(elementIndex === -1) { 
            wishlistArray.push({ imageLink });
        }
        else {
            wishlistArray.splice(elementIndex, 1);
        }

        document.querySelectorAll('[data-wishlist-count]')[0].textContent = wishlistArray.length.toString();
    }

    const constructWhatsappMessage = () => {
        let message = "Hola, me gustaria hacer una orden de productos de TCG. Los productos que me interesan son: \n";
        wishlistArray.forEach((item, index) => {
            message += `${index + 1}. ${item.imageLink}\n`;
        });

        return message;
    }

    const testSelectorResults = document.querySelectorAll('[data-test-wa-me]');

    testSelectorResults.forEach((element) => {
        element.addEventListener('click', () => { addToWishlist(element) });
    });

</script>

<Layout title="The Geek Factory">

    <div class="mx-auto md:w-2/3 w-11/12">
        <div class="my-8 md:w-2/3 w-4/5 flex flex-col mx-auto">
            <h1 class="text-4xl text-center my-8 text-white">
                TCG de Pokemon
            </h1>
        
            <p class="text-white text-center mb-6 mx-auto">
                Aqui encontrara todos nuestros diseños de tokens y deckboxes de Pokemon TCG.
                Si desea hacer una orden puede hacer su seleccion de productos y enviarnos el codigo generado. a nuestro Whatsapp.
            </p>
        </div>


        <div class="my-8 flex flex-col mx-auto">
            <h2 class="text-4xl text-center mb-8 text-white">Ability</h2>

            <ImageSelectionSection 
                imageList={abilityImages}
                assetList={abilityUsedList}
                client:visible
            />
        </div>

        <div class="my-8 flex flex-col mx-auto">
            <h2 class="text-4xl text-center my-8 text-white">
                Otros
            </h2>

            <ImageSelectionSection 
                imageList={otherImages}
                assetList={otherList}
                client:visible
            />
        </div>

        <div class="my-8 flex flex-col mx-auto">
            <h2 class="text-4xl text-center my-8 text-white">Supporter</h2>

            <ImageSelectionSection 
                imageList={supporterImages}
                assetList={supporterUsedList}
                client:visible
            />
        </div>

        <div class="my-8 flex flex-col mx-auto">
            <h2 class="text-4xl text-center my-8 text-white">
                V Star
            </h2>

            <ImageSelectionSection 
                imageList={vStarImages}
                assetList={vStarList}
                isVStar={true}
                client:visible
            />
        </div>
    </div>
    <OrderFooter 
        client:visible 
    />

</Layout>