---
import Layout from '../layouts/Layout.astro';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

const supporterImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/pokemon-tcg/Supporter/*.png');
const abilityImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/pokemon-tcg/Ability/*.png');
const vStarImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/pokemon-tcg/V Star/*.png');
const otherImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/pokemon-tcg/Other/*.png');

const supporterUsedList = [
    {
        name: 'Acerola',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Acerola.png'
    },
    {
        name: 'Arven',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Arven.png'
    },
    {
        name: 'Bea',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Bea.png'
    },
    {
        name: 'Bede',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Bede.png'
    },
    {
        name: 'Briar',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Briar.png'
    },
    {
        name: 'Carmine',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Carmine.png'
    },
    {
        name: 'Rose',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Chairman Rose.png'
    },
    {
        name: 'Clavell',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Clavell.png'
    },
    {
        name: 'Crispin',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Crispin.png'
    },
    {
        name: 'Cynthia',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Cynthia.png'
    },
    {
        name: 'Cyrano',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Cyrano.png'
    },
    {
        name: 'Dendra',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Dendra.png'
    },
    {
        name: 'Doctor',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Doctor.png'
    },
    {
        name: 'Elesa',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Elesa.png'
    },
    {
        name: 'Erika',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Erika.png'
    },
    {
        name: 'Ghetsis',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Ghetsis.png'
    },
    {
        name: 'Grusha',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Grusha.png'
    },
    {
        name: 'Iono',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Iono.png'
    },
    {
        name: 'Irida',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Irida.png'
    },
    {
        name: 'Janine',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Janine.png'
    },
    {
        name: 'Jasmine',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Jasmine.png'
    },
    {
        name: 'Kieran',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Kieran.png'
    },
    {
        name: 'Lacie',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Lacie.png'
    },
    {
        name: 'Lance',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Lance.png'
    },
    {
        name: 'Lillie',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Lillie.png'
    },
    {
        name: 'Lion',
        image: '/src/assets/pokemon-tcg/Supporter/Supporter Used - Lion.png'
    },
    {
        name: 'Lisia',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Lisia's Appeal.png"
    },
    {
        name: 'Marnie',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Marnie.png"
    },
    {
        name: 'Marnie - Challenger',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Marnie V2.png"
    },
    {
        name: 'May',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - May.png"
    },
    {
        name: 'Miriam',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Miriam.png"
    },
    {
        name: 'Misty',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Misty's Favor.png"
    },
    {
        name: 'Nemona',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Nemona.png"
    },
    {
        name: 'Nessa',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Nessa.png"
    },
    {
        name: 'Penny',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Penny.png"
    },
    {
        name: 'Perrin',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Perrin.png"
    },
    {
        name: 'Rosa',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Rosa.png"
    },
    {
        name: 'Sada',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Sada.png"
    },
    {
        name: 'Serena',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Serena.png"
    },
    {
        name: 'Sightseer',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Sightseer.png"
    },
    {
        name: 'Skyla',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Skyla.png"
    },
    {
        name: 'Sonia',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Sonia.png"
    },
    {
        name: 'Sword & Shield',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Sword & Shield.png"
    },
    {
        name: 'Turo',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Turo.png"
    },
    {
        name: 'Volo',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Volo.png"
    },
    {
        name: 'Volo - Regular',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Volo - Regular.png"
    },
    {
        name: 'Whitney',
        image: "/src/assets/pokemon-tcg/Supporter/Supporter Used - Whitney.png"
    },
];

const abilityUsedList = [
    {
        name: 'Absol',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Absol.png'
    },
    {
        name: 'Articuno',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Articuno.png'
    },
    {
        name: 'Bidoof',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Bidoof.png'
    },
    {
        name: 'Bulbasaur',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Bulbasaur.png'
    },
    {
        name: 'Squirtle',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Squirtle.png'
    },
    {
        name: 'Charmander',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Charmander.png'
    },
    {
        name: 'Celebi',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Celebi.png'
    },
    {
        name: 'Charcadet',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Charcadet.png'
    },
    {
        name: 'Charizard',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Charizard.png'
    },
    {
        name: 'Chien Pao',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Chien Pao.png'
    },
    {
        name: 'Clodsire',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Clodsire.png'
    },
    {
        name: 'Cubone',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Cubone.png'
    },
    {
        name: 'Darkrai',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Darkrai.png'
    },
    {
        name: 'Deoxys Attack Form',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Deoxys Attack Form.png'
    },
    {
        name: 'Deoxys Regular',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Deoxys Normal.png'
    },
    {
        name: 'Dratini',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Dratini.png'
    },
    {
        name: 'Dragonair',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Dragonair.png'
    },
    {
        name: 'Dragonite',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Dragonite.png'
    },
    {
        name: 'Duskull',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Duskull.png'
    },
    {
        name: 'Eevee',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Eevee.png'
    },
    {
        name: 'Electrode',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Electrode.png'
    },
    {
        name: 'Fezandipiti',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Fezandipiti.png'
    },
    {
        name: 'Floragato',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Floragato.png'
    },
    {
        name: 'Froakie',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Froakie.png'
    },
    {
        name: 'Fuecoco',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Fuecoco.png'
    },
    {
        name: 'Gardevoir',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Gardevoir Calm.png'
    },
    {
        name: 'Pokeball',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Pokeball.png'
    },
    {
        name: 'Great Ball',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Great Ball.png'
    },
    {
        name: 'Ultra Ball',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Ultra Ball.png'
    },
    {
        name: 'Master Ball',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Master Ball.png'
    },
    {
        name: 'Gengar Gigantamax',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Gengar - G Max.png'
    },
    {
        name: 'Gengar - Surging Sparks',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Gengar Brutalist.png'
    },
    {
        name: 'Ghimighoul',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Ghimighoul.png'
    },
    {
        name: 'Gholdengo',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Gholdengo.png'
    },
    {
        name: 'Gouging Fire',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Gouging Fire.png'
    },
    {
        name: 'Gyarados',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Gyarados.png'
    },
    {
        name: 'Hitmonchan',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Hitmonchan.png'
    },
    {
        name: 'Horsea',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Horsea.png'
    },
    {
        name: 'Jolteon',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Jolteon.png'
    },
    {
        name: 'Koffing',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Koffing.png'
    },
    {
        name: 'Lapras',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Lapras.png'
    },
    {
        name: 'Lotad',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Lotad.png'
    },
    {
        name: 'Riolu',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Riolu.png'
    },
    {
        name: 'Lucario',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Lucario.png'
    },
    {
        name: 'Lugia',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Lugia.png'
    },
    {
        name: 'Magikarp',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Magikarp.png'
    },
    {
        name: 'Magneton',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Magneton.png'
    },
    {
        name: 'Meowscarada',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Meowscarada.png'
    },
    {
        name: 'Mew',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Mew.png'
    },
    {
        name: 'Mewtwo',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Mewtwo.png'
    },
    {
        name: 'Mimikyu + Acerola',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Mimikyu + Acerola.png'
    },
    {
        name: 'Mismagius',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Mismagius.png'
    },
    {
        name: 'Morpeko',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Morpeko.png'
    },
    {
        name: 'Nidoqueen',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Nidoqueen.png'
    },
    {
        name: 'Ogerpon',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Ogerpon Teal Mask.png'
    },
    {
        name: 'Ogerpon Hiding',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Ogerpon Teal Mask 2.png'
    },
    {
        name: 'Omanyte',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Omanyte.png'
    },
    {
        name: 'Oshawott',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Oshawott.png'
    },
    {
        name: 'Palafin',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Palafin.png'
    },
    {
        name: 'Paldea Wooper',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Paldea Wooper.png'
    },
    {
        name: 'Pidgeot',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Pidgeot.png'
    },
    {
        name: 'Pikachu - Surging Sparks',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Pikachu - Surging Sparks.png'
    },
    {
        name: 'Pikachu',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Pikachu.png'
    },
    {
        name: 'Porygon',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Porygon.png'
    },
    {
        name: 'Psyduck',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Psyduck.png'
    },
    {
        name: 'Quagsire',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Quagsire.png'
    },
    {
        name: 'Quaxly',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Quaxly.png'
    },
    {
        name: 'Radiant Greninja',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Radiant Greninja - Black Background.png'
    },
    {
        name: 'Raging Bolt',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Raging Bolt.png'
    },
    {
        name: 'Raikou',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Raikou.png'
    },
    {
        name: 'Rapidash',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Rapidash.png'
    },
    {
        name: 'Rayquaza',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Rayquaza.png'
    },
    {
        name: 'Rowlett',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Rowlett.png'
    },
    {
        name: 'Scream Tail',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Scream Tail.png'
    },
    {
        name: 'Spinda',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Spinda.png'
    },
    {
        name: 'Spiritomb',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Spiritomb.png'
    },
    {
        name: 'Sprigatito',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Sprigatito.png'
    },
    {
        name: 'Starly',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Starly.png'
    },
    {
        name: 'Staryu',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Staryu.png'
    },
    {
        name: 'Starmie',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Starmie.png'
    },
    {
        name: 'Suicune',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Suicune.png'
    },
    {
        name: 'Walking Wake',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Walking Wake.png'
    },
    {
        name: 'Terapagos',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Terapagos - Stellar.png'
    },
    {
        name: 'Totodile',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Totodile.png'
    },
    {
        name: 'Vaporeon',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Vaporeon.png'
    },
    {
        name: 'Venusaur',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Venusaur.png'
    },
    {
        name: 'Wooper',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Wooper.png'
    },
    {
        name: 'Zapdos',
        image: '/src/assets/pokemon-tcg/Ability/Ability Used - Zapdos.png'
    },

]

const vStarList = [
    {
        name: "Articuno",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Articuno.png"
    },
    {
        name: "Charizard",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Charizard Shiny.png"
    },
    {
        name: "Darkrai",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Darkrai.png"
    },
    {
        name: "Dragonite",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Dragonite.png"
    },
    {
        name: "Lucario",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Lucario.png"
    },
    {
        name: "Lugia",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Lugia.png"
    },
    {
        name: "Mega Gengar",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Mega Gengar.png"
    },
    {
        name: "Mega Rayquaza",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Mega Rayquaza.png"
    },
    {
        name: "Mega Swampert",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Mega Swampert.png"
    },
    {
        name: "Mew",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Mew.png"
    },
    {
        name: "Mewtwo",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Mewtwo.png"
    },
    {
        name: "Quagsire",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Quagsire.png"
    },
    {
        name: "Radiant Greninja",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Radiant Greninja.png"
    },
    {
        name: "Raging Bolt",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Raging Bolt.png"
    },
    {
        name: "Regidrago",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Regidrago.png"
    },
    {
        name: "Tera Dragapult",
        image: "/src/assets/pokemon-tcg/V Star/V Star - Tera Dragapult.png"
    },
]

const otherList = [
    {
        name: "Energy Token",
        image: "/src/assets/pokemon-tcg/Other/Energy Token.png"
    },
    {
        name: "Retreat Used",
        image: "/src/assets/pokemon-tcg/Other/Retreat Used.png"
    },
    {
        name: "Stadium Used Token",
        image: "/src/assets/pokemon-tcg/Other/Stadium Used Token.png"
    },
]

---

<Layout title="The Geek Factory">

    <div class="mx-auto md:w-2/3 w-11/12">
        <div class="my-8 md:w-2/3 w-4/5 flex flex-col mx-auto">
            <h1 class="text-4xl text-center my-8 text-white">
                TCG de Pokemon
            </h1>
        
            <p class="text-white text-center mb-6 mx-auto">
                Aqui encontrara todos nuestros diseños de tokens y deckboxes de Pokemon TCG.
                Si desea hacer una orden puede hacer su seleccion de productos y enviarnos el codigo generado. a nuestro Whatsapp.
            </p>
        </div>


        <div class="my-8 flex flex-col mx-auto">
            <h2 class="text-4xl text-center mb-8 text-white">Ability</h2>

            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-4">
                {abilityUsedList.map((ability) => (
                    <div>
                        <Image 
                            src={abilityImages[ability.image]()} 
                            alt={ability.name} 
                            class="h-auto max-w-full rounded-lg hover:scale-150 hover:drop-shadow-2xl"
                        />
                    </div>
                ))}
                
            </div>
        </div>

        <div class="my-8 flex flex-col mx-auto">
            <h2 class="text-4xl text-center my-8 text-white">
                Otros
            </h2>

            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 mb-8">
                {otherList.map((other) => (
                    <div>
                        <Image 
                            src={otherImages[other.image]()} 
                            alt={other.name} 
                            class="h-auto max-w-full rounded-lg md:hover:scale-150 md:hover:drop-shadow-2xl"
                        />
                    </div>
                ))}
            </div>
        </div>

        <div class="my-8 flex flex-col mx-auto">
            <h2 class="text-4xl text-center my-8 text-white">Supporter</h2>

            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-4">
                {supporterUsedList.map((supporter) => (
                    <div>
                        <Image 
                            src={supporterImages[supporter.image]()} 
                            alt={supporter.name} 
                            class="h-auto max-w-full rounded-lg md:hover:scale-150 md:hover:drop-shadow-2xl"
                        />
                    </div>
                ))}
            </div>
        </div>

        <div class="my-8 flex flex-col mx-auto">
            <h2 class="text-4xl text-center my-8 text-white">
                V Star
            </h2>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
                {vStarList.map((vStar) => (
                    <div>
                        <Image 
                            src={vStarImages[vStar.image]()} 
                            alt={vStar.name} 
                            class="h-auto max-w-full rounded-lg md:hover:scale-150 md:hover:drop-shadow-2xl"
                        />
                    </div>
                ))}
            </div>
        </div>
    </div>

</Layout>